@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "../../frontend/stylesheets/pagy.tailwind.css";
@import "../../frontend/stylesheets/pagy_nav.css";
@import "../../frontend/stylesheets/reports.scss";
@import "../../frontend/stylesheets/slider.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* CLOUDINARY */

.upload-btn {
  background-color: #b5b7bd !important;
}

/* GENERAL */

div[data-lastpass-icon-root] {
  display: none;
}

.fit-content {
  width: fit-content;
}

/* NAVBAR */

.no-tap-highlight {
  outline: none;
}

.no-tap-highlight:focus,
.no-tap-highlight:hover,
.no-tap-highlight:active,
.no-tap-highlight:visited,
.no-tap-highlight:link {
  background-color: transparent !important;
  outline: none !important;
}
