@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* GENERAL */

div[data-lastpass-icon-root] {
  display: none;
}
/* NAVBAR */

.no-tap-highlight {
  outline: none;
}

.no-tap-highlight:focus,
.no-tap-highlight:hover,
.no-tap-highlight:active,
.no-tap-highlight:visited,
.no-tap-highlight:link {
  background-color: transparent !important;
  outline: none !important;
}
