
.byebug_history

/.bundle

/.env*
!/.env*.erb

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

config/ssl/*

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets
/public/uploads/tmp

/config/master.key
/config/cloudinary.yml

/app/assets/builds/*
!/app/assets/builds/.keep

/public/vite*
node_modules
*.local

/node_modules
../bin/node_modules
bin/node_modules