html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  overflow-y: scroll !important;
}

.MuiModal-root {
  overflow-y: auto !important;
}

.MuiPopover-root {
  overflow-y: auto !important;
}