html, body, #root {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  overflow-y: scroll !important;
  background-color: #f5f5f5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark mode support */
html.dark,
html.dark body,
html.dark #root {
  background-color: rgb(23 23 23 / var(--tw-bg-opacity, 1));
}

.MuiModal-root {
  overflow-y: auto !important;
}

.MuiPopover-root {
  overflow-y: auto !important;
}